.register-step {
  display: grid;
  gap: 14px;
  text-align: center;

  > .heading {
    color: rgb(55, 81, 126);
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
  }

  &.email {
    max-width: 450px;
    margin: 0 auto;
  }

  &.account-type {
    max-width: 600px;
    margin: 0 auto;

    > .choices {
      display: flex;
      gap: 20px;
      justify-content: center;

      > .choice {
        border: 2px solid #eeee;
        padding: 15px 22px;
        cursor: pointer;
        border-radius: 3px;

        &.selected {
          border-color: #008fc9;
        }
      }
    }
  }
}
